<meta id="websocket-data" data-websocket="{{ websocket }}">

<script src="/manx/js/xterm.js"></script>
<script src="/manx/js/terminal.js"></script>
<link rel="stylesheet" href="/manx/css/basic.css">
<link rel="stylesheet" href="/manx/css/xterm.css"/>

<div x-data="alpineManx()" x-init="initPage()">
    <div>
        <h2>Manx</h2>
        <p class="has-text-weight-bold">
            A coordinated access trojan (CAT)
        </p>
        <p>
            The Manx agent, written in GoLang, connects to the server over the TCP <i>contact point</i>.
            This raw TCP socket connection allows Manx to keep a persistent connection between host-and-server.
            Bundled with Manx is a reverse-shell management tool, called the <i>terminal</i>
            - below - which allows you to establish a local shell on an agent.
        </p>
        <p class="has-text-weight-bold">
            To deploy a Manx agent, go to the Agents tab.
        </p>
    </div>
    <hr>
    <div id="terminal-section" class="section-profile">
        <h3>Terminal</h3>
        <div class="column" style="flex:100%;padding:15px;text-align: left">
            <div id="filters">
            <center>
                <table class="ability-filter" frame=void rules=rows style="border-spacing:5px;width:100%">
                    <tr>
                        <td>
                            <div class="select is-small">
                                <select id="session-id" onchange="getAbilities();clearTerminal();getShellHistory(this);">
                                    <option value="" disabled selected>Select a session</option>
                                    {% for s in sessions %}
                                        <option value="{{ s.id }}" data-paw="{{ s.info }}" data-platform="{{ s.platform }}" data-executor="{{ s.executors[0] }}">{{ s.id }} - {{ s.info }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="select is-small">
                                <select id="tactic-filter" onchange="filterTechniques()">
                                    <option value="" disabled selected>Select a tactic</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="select is-small">
                                <select id="technique-filter" onchange="filterProcedures()">
                                    <option value="" disabled selected>Select a technique</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="select is-small">
                                <select id="procedure-filter" onchange="showProcedure()">
                                    <option value="" disabled selected>Select a procedure</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </center>
            </div>
            <br>
            <div id="xterminal"></div>
        </div>
    </div>
</div>

<script>
    let refresher = setInterval(refresh, 10000);
    $('.section-profile').bind('destroyed', function() {
        clearInterval(refresher);
    });

    function refresh(){
        function refreshSessions(data){
            data.forEach(function(s) {
                let found = false;
                $("#session-id > option").each(function() {
                    if($(this).data('paw') === s.info) {
                        found = true;
                    }
                });
                if(!found){
                    $('#session-id').append('<option value="'+s.id+'" data-paw="'+s.info+'">'+s.id+' - '+s.info+'</option>');
                }
            });
        }
        restRequest('POST', null, refreshSessions, '/plugin/manx/sessions')
    }

    function alpineManx() {
        return {
            sessions: [],

            initPage() {
                apiV2('POST', '/plugin/manx/sessions').then((sessions) => {
                    this.sessions = sessions;
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                });
            },
        };
    }

    // # sourceURL=manx.js
</script>
